<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ncomz.nshop.dao.front.product.ProductListMapper">

	<!-- 상품  리스트 정보 조회-->
	<select id="getFrontProductList" resultType="com.ncomz.nshop.domain.admin.product.ProductInfo">
	<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_header" />
		SELECT /* front ProductMapper.xml.getProductList */
			P.prod_id,
			prod_name,
			prod_price,
			prod_stat,
			F_CODE_NAME('P001', prod_stat, #{language}) AS prod_stat_name,
			create_user_id,
			(select usr_nm from T_USER where usr_id = create_user_id) as create_user_name,
			DATE_FORMAT(create_datetime, '%Y-%m-%d %H:%i:%s') AS create_datetime,
			(SELECT GROUP_CONCAT(IFNULL(L.TITLE, C.TITLE)) as category_info
		        FROM T_PRODUCT_CATEGORY_REF ref, T_PRODUCT_CATEGORY C
		        LEFT OUTER JOIN T_PRODUCT_CATEGORY_LANGUAGE L ON C.CATEGORY_ID = L.CATEGORY_ID AND L.LANGUAGE = #{language}
		        WHERE ref.prod_id = P.prod_id and ref.category_id = C.category_id
		        
		        ORDER BY ref.display_order asc
		    ) as category_info,
		    store_id
		FROM T_PRODUCT P
        WHERE 1=1
		<include refid="listActionWhereClause"/>
		order by create_datetime desc
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_footer" />
	</select>
	
	<!-- 상품  리스트 정보 카운트-->
	<select id="getProductCount" resultType="int">
	
		SELECT /* ProductMapper.xml.getProductCount */
			count(*)
		FROM T_PRODUCT P
        WHERE 1=1
        <include refid="listActionWhereClause"/>	 
	</select>
	
	<sql id="listActionWhereClause">
		<!-- 카테고리 조회 -->
		<choose>
			<when test='category_4 != null and category_4 != ""'>
				AND P.PROD_ID IN (
					SELECT R.PROD_ID FROM T_PRODUCT_CATEGORY_REF R WHERE R.CATEGORY_ID = #{category_4}
				)
			</when>
			<when test='category_3 != null and category_3 != ""'>
				AND P.PROD_ID IN (
					SELECT R.PROD_ID
					FROM T_PRODUCT_CATEGORY_REF R,
						(SELECT C.D1, C.D2, C.D3, C.D4 FROM V_PRODUCT_CATEGORY C WHERE C.D3 = #{category_3}) C
					WHERE R.CATEGORY_ID = C.D3
						OR R.CATEGORY_ID = C.D4
				)
			</when>
			<when test='category_2 != null and category_2 != ""'>
				AND P.PROD_ID IN (
					SELECT R.PROD_ID
					FROM T_PRODUCT_CATEGORY_REF R,
						(SELECT C.D1, C.D2, C.D3, C.D4 FROM V_PRODUCT_CATEGORY C WHERE C.D2 = #{category_2}) C
					WHERE R.CATEGORY_ID = C.D2
						OR R.CATEGORY_ID = C.D3
						OR R.CATEGORY_ID = C.D4
				)
			</when>
			<when test='category_1 != null and category_1 != ""'>
				AND P.PROD_ID IN (
					SELECT R.PROD_ID
					FROM T_PRODUCT_CATEGORY_REF R,
						(SELECT C.D1, C.D2, C.D3, C.D4 FROM V_PRODUCT_CATEGORY C WHERE C.D1 = #{category_1}) C
					WHERE R.CATEGORY_ID = C.D1
						OR R.CATEGORY_ID = C.D2
						OR R.CATEGORY_ID = C.D3
						OR R.CATEGORY_ID = C.D4
				)
			</when>
		</choose>
		
		<!-- 판매상태 -->
		<if test="search_status != null and search_status != ''">
			AND prod_stat = #{search_status}
		</if>
		
		<!-- 등록기간 -->
		<if test='start_date != null and start_date != ""'>
			AND P.CREATE_DATETIME <![CDATA[>=]]> STR_TO_DATE(#{start_date}, '%Y-%m-%d')
		</if>
		<if test='end_date != null and end_date != ""'>
			AND P.CREATE_DATETIME <![CDATA[<]]> DATE_ADD(STR_TO_DATE(#{end_date}, '%Y-%m-%d'), INTERVAL 1 DAY)
		</if>
		
		<!-- 판매금액 -->
		<if test='start_price != null and start_price != ""'>
			AND P.PROD_PRICE <![CDATA[>=]]> #{start_price}
		</if>
		<if test='end_price != null and end_price != ""'>
			AND P.PROD_PRICE <![CDATA[<=]]> #{end_price}
		</if>
		
		<!-- 검색조건 -->
		<if test='search_type != null and search_type != "" and search_txt != null and search_txt != ""'>
			<choose>
				<when test='search_type == "N"'>AND prod_name LIKE concat('%',#{search_txt},'%')</when>
				<when test='search_type == "D"'>AND D.prod_detail LIKE concat('%',#{search_txt},'%')</when>
				<when test='search_type == "C"'>AND prod_id LIKE concat('%',#{search_txt},'%')</when>
				<when test='search_type == "R"'>AND create_user_id LIKE concat('%',#{search_txt},'%')</when>
			</choose>
		</if>
	</sql>
	
	
	
	<select id="getProductInfo" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo" resultType="com.ncomz.nshop.domain.admin.product.ProductInfo">
		SELECT /* ProductMapper.xml.getProductInfo */
			prod_id,
			prod_name,
			prod_price,
			prod_stat,
			(select dtl_nm from T_COMMON_CODE where grp_cd = 'P001' AND dtl_cd = prod_stat) as prod_stat_name,
			prod_detail,
			prod_delivery_info,
			prod_refund_info,
			create_user_id,
			(select usr_nm from T_USER where usr_id = create_user_id) as create_user_name,
			store_id,
			(select store_name from T_STORE WHERE store_id = P.store_id) as store_nm,
			DATE_FORMAT(create_datetime, '%Y-%m-%d %H:%i:%s') AS create_datetime,
			(SELECT GROUP_CONCAT(file_id) as file_id
				FROM T_FILE_INFO 
				WHERE key_id = #{prod_id}
				AND file_type = #{file_type}
				AND temp_yn = 'N'
				ORDER BY file_id asc
			) as file_id,
            (SELECT GROUP_CONCAT(category_id) as category_id
				FROM T_PRODUCT_CATEGORY_REF 
				WHERE prod_id = #{prod_id}
				ORDER BY display_order asc
			) as category_id
		FROM T_PRODUCT P
        WHERE prod_id = #{prod_id}
	</select>
	
	<select id="getProductCategoryList" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo" resultType="com.ncomz.nshop.domain.admin.product.ProductInfo">
		SELECT /* ProductMapper.xml.getProductCategoryList */
			prod_id,
			category_id,
			f_category_path_language(category_id,#{language}) as path
		FROM T_PRODUCT_CATEGORY_REF
        WHERE prod_id = #{prod_id}
        order by display_order
	</select>
	
	<select id="getProductFileList" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo" resultType="com.ncomz.nshop.domain.common.FileInfo">
		SELECT /* ProductMapper.xml.getProductFileList */
			file_id
		FROM T_FILE_INFO
        WHERE key_id = #{prod_id}
        AND file_type = #{file_type}
        AND temp_yn = 'N'
        ORDER BY file_id asc
        LIMIT 1
	</select>	
	
	<select id="getFileList" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo" resultType="com.ncomz.nshop.domain.common.FileInfo">
		SELECT /* ProductMapper.xml.getFileList */
			file_id
		FROM T_FILE_INFO
        WHERE key_id = #{prod_id}
        AND file_type = #{file_type}
        AND temp_yn = 'N'
        ORDER BY file_id asc
	</select>
	
	<select id="getCategoryPath" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo" resultType="com.ncomz.nshop.domain.admin.product.ProductInfo">
		SELECT 
			f_category_path_language(#{category_id},#{language}) as path 
		FROM dual
	</select>
	
	
 </mapper>