<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ncomz.nshop.dao.admin.product.ProductMapper">

	<!-- 상품  리스트 정보 조회-->
	<select id="getProductList" resultType="com.ncomz.nshop.domain.admin.product.ProductInfo">
	<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_header" />
		SELECT /* ProductMapper.xml.getProductList */
			P.prod_id,
			prod_name,
			prod_price,
			prod_stat,
			F_CODE_NAME('P001', prod_stat, #{language}) AS prod_stat_name,
			create_user_id,
			(select usr_nm from T_USER where usr_id = create_user_id) as create_user_name,
			DATE_FORMAT(create_datetime, '%Y-%m-%d %H:%i:%s') AS create_datetime
		FROM T_PRODUCT P
        WHERE 1=1
		<include refid="listActionWhereClause"/>
		order by create_datetime desc
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_footer" />
	</select>
	
	<!-- 상품  리스트 정보 카운트-->
	<select id="getProductCount" resultType="int">
		SELECT /* ProductMapper.xml.getProductCount */
			count(*)
		FROM T_PRODUCT P
        WHERE 1=1
		<include refid="listActionWhereClause"/>
	</select>
	
	<sql id="listActionWhereClause">
		<!-- 로그인 사용자 조회  -->
		<if test='store_id != null and store_id != ""'>
			AND store_id = #{store_id}
		</if>
		
		<!-- 카테고리 조회 -->
		<choose>
			<when test='category_4 != null and category_4 != ""'>
				AND P.PROD_ID IN (
					SELECT R.PROD_ID FROM T_PRODUCT_CATEGORY_REF R WHERE R.CATEGORY_ID = #{category_4}
				)
			</when>
			<when test='category_3 != null and category_3 != ""'>
				AND P.PROD_ID IN (
					SELECT R.PROD_ID
					FROM T_PRODUCT_CATEGORY_REF R,
						(SELECT C.D1, C.D2, C.D3, C.D4 FROM V_PRODUCT_CATEGORY C WHERE C.D3 = #{category_3}) C
					WHERE R.CATEGORY_ID = C.D3
						OR R.CATEGORY_ID = C.D4
				)
			</when>
			<when test='category_2 != null and category_2 != ""'>
				AND P.PROD_ID IN (
					SELECT R.PROD_ID
					FROM T_PRODUCT_CATEGORY_REF R,
						(SELECT C.D1, C.D2, C.D3, C.D4 FROM V_PRODUCT_CATEGORY C WHERE C.D2 = #{category_2}) C
					WHERE R.CATEGORY_ID = C.D2
						OR R.CATEGORY_ID = C.D3
						OR R.CATEGORY_ID = C.D4
				)
			</when>
			<when test='category_1 != null and category_1 != ""'>
				AND P.PROD_ID IN (
					SELECT R.PROD_ID
					FROM T_PRODUCT_CATEGORY_REF R,
						(SELECT C.D1, C.D2, C.D3, C.D4 FROM V_PRODUCT_CATEGORY C WHERE C.D1 = #{category_1}) C
					WHERE R.CATEGORY_ID = C.D1
						OR R.CATEGORY_ID = C.D2
						OR R.CATEGORY_ID = C.D3
						OR R.CATEGORY_ID = C.D4
				)
			</when>
		</choose>
		
		<!-- 판매상태 -->
		<if test="search_status != null and search_status != ''">
			AND prod_stat = #{search_status}
		</if>
		
		<!-- 등록기간 -->
		<if test='start_date != null and start_date != ""'>
			AND P.CREATE_DATETIME <![CDATA[>=]]> STR_TO_DATE(#{start_date}, '%Y-%m-%d')
		</if>
		<if test='end_date != null and end_date != ""'>
			AND P.CREATE_DATETIME <![CDATA[<]]> DATE_ADD(STR_TO_DATE(#{end_date}, '%Y-%m-%d'), INTERVAL 1 DAY)
		</if>
		
		<!-- 판매금액 -->
		<if test='start_price != null and start_price != ""'>
			AND P.PROD_PRICE <![CDATA[>=]]> #{start_price}
		</if>
		<if test='end_price != null and end_price != ""'>
			AND P.PROD_PRICE <![CDATA[<=]]> #{end_price}
		</if>
		
		<!-- 검색조건 -->
		<if test='search_type != null and search_type != "" and search_txt != null and search_txt != ""'>
			<choose>
				<when test='search_type == "N"'>AND prod_name LIKE concat('%',#{search_txt},'%')</when>
				<when test='search_type == "D"'>AND D.prod_detail LIKE concat('%',#{search_txt},'%')</when>
				<when test='search_type == "C"'>AND prod_id LIKE concat('%',#{search_txt},'%')</when>
				<when test='search_type == "R"'>AND create_user_id LIKE concat('%',#{search_txt},'%')</when>
			</choose>
		</if>
	</sql>
	
	<!-- 상품 등록  -->
	<insert id="insertProduct" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo">
		<selectKey keyProperty="prod_id" resultType="String" order="BEFORE">
			SELECT IFNULL(MAX(PROD_ID), 0) + 1 FROM T_PRODUCT
		</selectKey>
		INSERT INTO T_PRODUCT /* ProductMapper.xml.insertProduct */
		(
			prod_id,
			prod_name,
			prod_price,
			prod_stat,
			store_id,
			prod_detail,
			prod_delivery_info,
			prod_refund_info,
			create_user_id,
			create_datetime
		)
		VALUES
		(
			#{prod_id},
			#{prod_name},
			#{prod_price},
			#{prod_stat},
			#{store_id},
			#{prod_detail},
			#{prod_delivery_info},
			#{prod_refund_info},
			#{create_user_id},
			now()
		)
	</insert>
	
	<insert id="insertCategoryRef" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo">
		INSERT INTO T_PRODUCT_CATEGORY_REF /* ProductMapper.xml.insertCategoryRef */
		(
			prod_id,
			category_id,
			display_order
		)
		VALUES
		<foreach collection="objectCategoryList" item="category_id" index="index" open="(" separator="),("  close=")">
			#{prod_id},
			#{category_id},
			#{index}+1
		</foreach>
	</insert>
	
	<update id="statusModifyAction" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo">
		/* ProductMapper.xml.statusModifyAction */
		update T_PRODUCT set
			prod_stat = #{prod_stat}
			<if test='prod_stat == "50"'> 
			, delete_user_id=#{delete_user_id}
			, delete_datetime = now()
			</if>
		where prod_id in (
		<foreach collection="objectCategoryList" item="prod_id" separator=",">
			#{prod_id}
		</foreach>
		)
	</update>
	
	<select id="getProductInfo" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo" resultType="com.ncomz.nshop.domain.admin.product.ProductInfo">
		SELECT /* ProductMapper.xml.getProductInfo */
			prod_id,
			prod_name,
			prod_price,
			prod_stat,
			F_CODE_NAME('P001', prod_stat, #{language}) AS prod_stat_name,
			prod_detail,
			prod_delivery_info,
			prod_refund_info,
			create_user_id,
			(select usr_nm from T_USER where usr_id = create_user_id) as create_user_name,
			DATE_FORMAT(create_datetime, '%Y-%m-%d %H:%i:%s') AS create_datetime,
			(SELECT GROUP_CONCAT(file_id) as file_id
				FROM T_FILE_INFO 
				WHERE key_id = #{prod_id}
				AND file_type = #{file_type}
				AND temp_yn = 'N'
				ORDER BY file_id asc
			) as file_id,
            (SELECT GROUP_CONCAT(category_id) as category_id
				FROM T_PRODUCT_CATEGORY_REF 
				WHERE prod_id = #{prod_id}
				ORDER BY display_order asc
			) as category_id
		FROM T_PRODUCT P
        WHERE prod_id = #{prod_id}
	</select>
	
	<select id="getProductCategoryList" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo" resultType="com.ncomz.nshop.domain.admin.product.ProductInfo">
		SELECT /* ProductMapper.xml.getProductCategoryList */
			prod_id,
			category_id,
			f_category_path_language(category_id,#{language}) as path
		FROM T_PRODUCT_CATEGORY_REF
        WHERE prod_id = #{prod_id}
        order by display_order
	</select>
	
	<select id="getProductFileList" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo" resultType="com.ncomz.nshop.domain.common.FileInfo">
		SELECT /* ProductMapper.xml.getProductFileList */
			file_id
		FROM T_FILE_INFO
        WHERE key_id = #{prod_id}
        AND file_type = #{file_type}
        AND temp_yn = 'N'
        ORDER BY file_id asc
        LIMIT 1
	</select>
	
	<update id="updateProduct" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo">
		UPDATE T_PRODUCT SET /* ProductMapper.xml.updateProduct */
			prod_name = #{prod_name}
			, prod_price = #{prod_price}
			, prod_detail = #{prod_detail}
			, prod_delivery_info = #{prod_delivery_info}
			, prod_refund_info = #{prod_refund_info}
		WHERE prod_id = #{prod_id}
	</update>
	
	<delete id="deleteProductRef" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo">
		DELETE /* ProductMapper.xml.getProductFileList */
		FROM T_PRODUCT_CATEGORY_REF
        WHERE prod_id = #{prod_id}
	</delete>
	
	<select id="listExcel" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo" resultType="java.util.LinkedHashMap">
		SELECT /* ProductMapper.xml.getProductList */
			CONCAT(prod_name, '(', prod_id, ')') AS 'label_product_prod_name',
			CONCAT((select usr_nm from T_USER where usr_id = create_user_id), '(', create_user_id, ')') as 'label_product_create_user_name',
			DATE_FORMAT(create_datetime, '%Y-%m-%d %H:%i:%s') AS 'label_product_create_datetime',
			prod_price AS 'label_product_prod_price',
			F_CODE_NAME('P001', prod_stat, #{language}) AS 'label_product_prod_stat'
		FROM T_PRODUCT P
        WHERE 1=1
		<include refid="listActionWhereClause"/>
		order by create_datetime desc
	</select>
 </mapper>