<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ncomz.nshop.dao.admin.settlement.SettlementHistMapper">

	<!-- 상품  리스트 정보 조회-->
	<select id="getCalculHistList" resultType="com.ncomz.nshop.domain.admin.settlement.SettlementHistInfo" parameterType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo">
		SELECT /* settlementHistMapper.xml.getSettlementHistList */
			CALCUL_HIST_SEQ,
			CALCUL_SEQ,
			DATE_FORMAT(STS_UPDATE_DATETIME, '%Y-%m-%d %H:%i:%s') AS STS_UPDATE_DATETIME,
			UPDATER_ID,
			CALCUL_STS_CD,
			F_CODE_NAME('SETTLEMENT_STAT', CALCUL_STS_CD, #{language}) AS CALCUL_STS_CD_NM,
			CALCUL_MEMO
		FROM T_CALCUL_HIST
        WHERE 1=1
        	AND CALCUL_SEQ = #{calcul_seq}
		order by CALCUL_HIST_SEQ asc
	</select>
	
	
	<!-- 정산상태 변경 이력 추가 -->
	<insert id="insertCalCulHistAction" parameterType="com.ncomz.nshop.domain.admin.settlement.SettlementHistInfo">
		INSERT INTO T_CALCUL_HIST
		(
			CALCUL_HIST_SEQ,
			CALCUL_SEQ,
			STS_UPDATE_DATETIME,
			UPDATER_ID,
			CALCUL_STS_CD,
			CALCUL_MEMO
		)
		VALUES 
		(
			#{calcul_hist_seq},
			#{calcul_seq},
			now(),
			#{updater_id},
			#{calcul_sts_cd},
			#{calcul_memo}
		)
	
	</insert>
	
	
	<!-- <select id="listExcel" parameterType="com.ncomz.nshop.domain.admin.product.ProductInfo" resultType="java.util.LinkedHashMap">
		SELECT /* ProductMapper.xml.getProductList */
			CONCAT(prod_name, '(', prod_id, ')') AS 'label_product_prod_name',
			CONCAT((select usr_nm from T_USER where usr_id = create_user_id), '(', create_user_id, ')') as 'label_product_create_user_name',
			DATE_FORMAT(create_datetime, '%Y-%m-%d %H:%i:%s') AS 'label_product_create_datetime',
			prod_price AS 'label_product_prod_price',
			F_CODE_NAME('P001', prod_stat, #{language}) AS 'label_product_prod_stat'
		FROM T_PRODUCT P
        WHERE 1=1
		<include refid="listActionWhereClause"/>
		order by create_datetime desc
	</select> -->
 </mapper>