<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncomz.nshop.dao.admin.common.file.fileMgmtMapper">
	<sql id="where_clause">
		<if test="startDate != null and startDate != '' and endDate != null and endDate != '' ">
			AND DATE_FORMAT(t1.create_datetime, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="file_type != null and file_type != ''">
			AND t1.file_type = #{file_type}
		</if>
		<if test="prod_name != null and prod_name != ''">
			AND t2.prod_name LIKE CONCAT('%',TRIM(#{prod_name}),'%')
		</if>
		<if test="org_filename != null and org_filename != ''">
			AND t1.org_filename LIKE CONCAT('%',TRIM(#{org_filename}),'%')
		</if>
	</sql>

	<sql id="selectList">
		SELECT   
               t1.file_id
              ,t1.phy_filename
              ,t1.org_filename
              ,t1.display_ord
              ,t1.create_datetime
              ,DATE_FORMAT(t1.update_datetime, '%Y-%m-%d %H:%i:%s') AS update_datetime
              ,t1.file_type
              ,F_CODE_NAME('F001',  t1.file_type, #{lang_type}) AS file_type_text
              ,F_CODE_NAME('YN',  t1.temp_yn, #{lang_type}) AS temp_yn
              ,t1.key_id
              ,CASE                   
                   WHEN OCTET_LENGTH(t1.file_data) BETWEEN '0' AND '1048576 ' THEN CONCAT(FLOOR( OCTET_LENGTH(t1.file_data)/1024 ),' KB')
                   WHEN OCTET_LENGTH(t1.file_data) BETWEEN '1048576 ' AND '1073741824 ' THEN CONCAT(FLOOR(OCTET_LENGTH(t1.file_data)/1048576 ),' MB')                   
			   END file_size  
	          ,t2.prod_id
	          ,t2.prod_name
	          ,t2.prod_price
	          ,t2.prod_stat
              ,F_CODE_NAME('P001',  t2.prod_stat, #{lang_type}) AS prod_stat_text
              ,t2.prod_detail
              ,t2.prod_delivery_info
              ,t2.prod_refund_info
              ,t2.create_user_id
              ,t2.delete_user_id
              ,t2.delete_datetime
              ,S.store_id
              ,S.STORE_NAME              
      FROM   T_FILE_INFO t1 LEFT OUTER JOIN T_PRODUCT t2 
        	 ON   t1.key_id = t2.prod_id AND t1.file_type in ('prod', 'prod_contents')
        	 	LEFT OUTER JOIN T_STORE S 
        		ON t1.key_id = S.store_id 
        		AND t1.file_type = 'stroe logo'
		WHERE 	1=1
			<if test="startDate != null and startDate != '' and endDate != null and endDate != '' ">
				AND DATE_FORMAT(t1.create_datetime, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="file_type != null and file_type != ''">
				AND t1.file_type = #{file_type}
			</if>
			<if test="prod_name != null and prod_name != ''">
				AND t2.prod_name LIKE CONCAT('%',TRIM(#{prod_name}),'%')
			</if>
			<if test="org_filename != null and org_filename != ''">
				AND t1.org_filename LIKE CONCAT('%',TRIM(#{org_filename}),'%')
			</if>
		ORDER BY t1.org_filename
	</sql>
	
	<!-- 파일  리스트  카운트-->
	<select id="getFileListCount" resultType="int">
		SELECT 
				COUNT(*)
	    FROM   T_FILE_INFO t1 LEFT OUTER JOIN T_PRODUCT t2 
        	    ON t1.key_id = t2.prod_id AND t1.file_type in ('prod', 'prod_contents')
        	 	LEFT OUTER JOIN T_STORE S 
        		ON t1.key_id = S.store_id 
        		AND t1.file_type = 'stroe logo'
		WHERE 	1=1
	 	<include refid="where_clause" />                  
	</select>
	
	<!-- 파일  리스트조회 페이징.-->
	<select id="getFileList" resultType="com.ncomz.nshop.domain.admin.common.FileMgmt">
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_header" />
		<include refid="selectList"/>
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_footer" />
	</select>
	
	<!-- 파일관리 엑셀다운로드  -->
	<select id="listExcel" parameterType="com.ncomz.nshop.domain.admin.common.FileMgmt" resultType="java.util.LinkedHashMap">
		SELECT 
				 t1.org_filename AS 'label_file_org_filename'
				,CONCAT(
						CASE WHEN t1.file_type = 'stroe logo' THEN S.STORE_NAME
							 ELSE t2.prod_name END
						) AS 'label_file_prod_name'
				,F_CODE_NAME('F001',  t1.file_type, #{lang_type}) AS 'label_file_type_text'
				,DATE_FORMAT(t1.update_datetime, '%Y-%m-%d %H:%i:%s') AS 'label_file_update_datetime'
				,CONCAT(
						CASE WHEN OCTET_LENGTH(t1.file_data) BETWEEN '0' AND '1048576 ' THEN CONCAT(FLOOR( OCTET_LENGTH(t1.file_data)/1024 ),' KB')
                   			 WHEN OCTET_LENGTH(t1.file_data) BETWEEN '1048576 ' AND '1073741824 ' THEN CONCAT(FLOOR(OCTET_LENGTH(t1.file_data)/1048576 ),' MB')                   
			   			END  
						) AS 'label_file_file_size'
				,F_CODE_NAME('YN',  t1.temp_yn, #{lang_type}) AS 'label_file_temp_yn'
	      FROM T_FILE_INFO t1 LEFT OUTER JOIN T_PRODUCT t2 
	           ON   t1.key_id = t2.prod_id AND t1.file_type in ('prod', 'prod_contents')
	        	 	LEFT OUTER JOIN T_STORE S 
	        		ON t1.key_id = S.store_id 
	        		AND t1.file_type = 'stroe logo'
         WHERE 1=1
		 <include refid="where_clause"/>
		 ORDER BY t1.org_filename
	</select>
	
	<!-- 임시파일 삭제 -->
	<delete id="deleteTempImg">
		DELETE
		  FROM T_FILE_INFO
		 WHERE DATE_SUB(NOW(), INTERVAL 1 DAY) > update_datetime 
		   AND temp_yn = 'Y'
	</delete>
</mapper>