<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ncomz.nshop.dao.admin.popup.PopupMapper">

	<sql id="listActionWhereClause">
	</sql>
	
	<!-- 상품  리스트 정보 조회-->
	<select id="getPopupList" resultType="com.ncomz.nshop.domain.admin.popup.PopupInfo">
	<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_header" />
		SELECT /* PopupMapper.xml.getPopupList */
			POPUP_ID
			, POPUP_TITLE
			, TOP
			, LEFT_P
			, WIDTH
			, HEIGHT
			, FILE_ID
			, IMAGE_PATH
			, START_DTTM
			, END_DTTM
			, REG_DTTM
			, USE_YN
		FROM T_POPUP
        WHERE 1=1
		<include refid="listActionWhereClause"/>
		ORDER BY REG_DTTM DESC
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_footer" />
	</select>
	
	<!-- 상품  리스트 정보 카운트-->
	<select id="getPopupCount" resultType="int">
		SELECT /* PopupMapper.xml.getPopupCount */
			COUNT(*)
		FROM T_POPUP
        WHERE 1=1
		<include refid="listActionWhereClause"/>
	</select>
	
	
	
	<!-- 상품 등록  -->
	<insert id="insertAction" parameterType="com.ncomz.nshop.domain.admin.popup.PopupInfo">
		<selectKey keyProperty="popup_id" resultType="String" order="BEFORE">
			SELECT IFNULL(MAX(POPUP_ID), 0) + 1 FROM T_POPUP
		</selectKey>
		INSERT INTO T_POPUP /* PopupMapper.xml.insertAction */
		(
			POPUP_ID
			, POPUP_TITLE
			, TOP
			, LEFT_P
			, WIDTH
			, HEIGHT
			, FILE_ID
			, IMAGE_PATH
			, START_DTTM
			, END_DTTM
			, REG_DTTM
			, USE_YN
		)
		VALUES
		(
			#{popup_id}
			, #{popup_title}
			, #{top}        
			, #{left_p}       
			, #{width     } 
			, #{height    } 
			, #{file_id   } 
			, #{image_path} 
			, if(#{start_dttm}='', null, #{start_dttm})
			, if(#{end_dttm}='', null, #{end_dttm})
			, now() 
			, #{use_yn    }
		)
	</insert>
	
	
	<select id="getPopupInfo" parameterType="com.ncomz.nshop.domain.admin.popup.PopupInfo" resultType="com.ncomz.nshop.domain.admin.popup.PopupInfo">
		SELECT /* PopupMapper.xml.getPopupInfo */
			POPUP_ID
			, POPUP_TITLE
			, TOP
			, LEFT_P
			, WIDTH
			, HEIGHT
			, FILE_ID
			, IMAGE_PATH
			, START_DTTM
			, END_DTTM
			, REG_DTTM
			, USE_YN
		FROM T_POPUP P
        WHERE POPUP_ID = #{popup_id}
	</select>
	
	
	
	<update id="updateAction" parameterType="com.ncomz.nshop.domain.admin.popup.PopupInfo">
		UPDATE T_POPUP SET /* PopupMapper.xml.updateAction */
			  POPUP_TITLE   =#{popup_title}
			, TOP           =#{top}
			, LEFT_P        =#{left_p}
			, WIDTH         =#{width     }
			, HEIGHT        =#{height    }
			<if test="file_id != null and file_id != ''">
	  		, FILE_ID       =#{file_id   }
	  		</if>
			, IMAGE_PATH    =#{image_path}
			, START_DTTM    =if(#{start_dttm}='', null, #{start_dttm})
			, END_DTTM      =if(#{end_dttm}='', null, #{end_dttm})
			, USE_YN        =#{use_yn    }
		WHERE POPUP_ID = #{popup_id}
	</update>
	
	<delete id="deleteAction" parameterType="com.ncomz.nshop.domain.admin.popup.PopupInfo">
		DELETE /* PopupMapper.xml.deleteAction */ FROM T_POPUP WHERE POPUP_ID = #{popup_id}
	</delete>
	
 </mapper>