<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ncomz.nshop.dao.admin.statistics.SalesStatisticsMapper">
 
 	<sql id="getListFromWhere">
		 <choose>
	      <when test="ss.date_clcd == '10'">
		  FROM (SELECT DATE_FORMAT(A.DATE,'%Y-%m-%d') DATE
		  </when>
		  <when test="ss.date_clcd == '20'">
		  FROM (SELECT DATE_FORMAT(A.DATE,'%Y-%m') DATE
		  </when>
		  <when test="ss.date_clcd == '30'">
		  FROM (SELECT DATE_FORMAT(A.DATE,'%Y') DATE
		  </when>
	     </choose>
			      FROM (SELECT CURDATE() - INTERVAL (A.A + (10*B.A) + (100*C.A) + (1000*D.A)) DAY AS DATE
			             FROM (SELECT 0 AS A UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS A
			             CROSS JOIN (SELECT 0 AS A UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS B
			             CROSS JOIN (SELECT 0 AS A UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS C
			             CROSS JOIN (SELECT 0 AS A UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS D
			           )A
				 WHERE 1=1
				<choose>
				 <when test="ss.date_clcd == '10'">
				   AND A.DATE BETWEEN #{ss.start_dt} AND #{ss.end_dt}
				 GROUP BY DATE_FORMAT(A.DATE,'%Y-%m-%d')
				 </when>
				 <when test="ss.date_clcd == '20'">
				   AND A.DATE BETWEEN CONCAT(#{ss.start_dt},'01') AND CONCAT(#{ss.end_dt},'31')
				 GROUP BY DATE_FORMAT(A.DATE,'%Y-%m')
				 </when>
				 <when test="ss.date_clcd == '30'">
				   AND A.DATE BETWEEN CONCAT(#{ss.start_dt},'0101') AND CONCAT(#{ss.end_dt},'1231')
				 GROUP BY DATE_FORMAT(A.DATE,'%Y')
				 </when>
				</choose> ) X
 		  LEFT OUTER JOIN (SELECT SUM(A.CALCUL_AMT) CALCUL_AMT
						 	  <choose>
							   <when test="ss.date_clcd == '10'">
							    , DATE_FORMAT(A.PAY_FIN_DATETIME,'%Y-%m-%d')  PAY_FIN_DATETIME
							   </when>
							   <when test="ss.date_clcd == '20'">
							    , DATE_FORMAT(A.PAY_FIN_DATETIME,'%Y-%m')  PAY_FIN_DATETIME
							   </when>
							   <when test="ss.date_clcd == '30'">
							    , DATE_FORMAT(A.PAY_FIN_DATETIME,'%Y')  PAY_FIN_DATETIME
							   </when>
							  </choose>
							 FROM ( SELECT PROD_ORDER_SEQ
							   			 , PAY_FIN_DATETIME
							   			 , CALCUL_AMT
							   			 , PAYMENT_AMT
							          FROM T_CALCUL_INFO
							         WHERE 1 = 1
									   AND PAY_FIN_DATETIME IS NOT NULL
							  		   AND CALCUL_STS_CD = 'SPC'
							  		   AND CALCUL_FEE_DIV = 'prod'
							        <choose>
									 <when test="ss.date_clcd == '10'">
									   AND DATE_FORMAT(PAY_FIN_DATETIME,'%Y%m%d') BETWEEN #{ss.start_dt} AND #{ss.end_dt}
									 </when>
									 <when test="ss.date_clcd == '20'">
									   AND DATE_FORMAT(PAY_FIN_DATETIME,'%Y%m') BETWEEN #{ss.start_dt} AND #{ss.end_dt}
									 </when>
									 <when test="ss.date_clcd == '30'">
									   AND DATE_FORMAT(PAY_FIN_DATETIME,'%Y') BETWEEN #{ss.start_dt} AND #{ss.end_dt}
									 </when>
									</choose>) A
							  JOIN T_PRODUCT_ORDER_REF B
							    ON A.PROD_ORDER_SEQ = B.PROD_ORDER_SEQ
							 WHERE 1 = 1
							  <if test="ss.store_id != null and ss.store_id != ''" >
							   AND B.STORE_ID = #{ss.store_id}
							  </if>
						   <choose>
							<when test="ss.date_clcd == '10'">
							 GROUP BY DATE_FORMAT(PAY_FIN_DATETIME,'%Y-%m-%d')
							</when>
							<when test="ss.date_clcd == '20'">
							 GROUP BY DATE_FORMAT(PAY_FIN_DATETIME,'%Y-%m')
							</when>
							<when test="ss.date_clcd == '30'">
							 GROUP BY DATE_FORMAT(PAY_FIN_DATETIME,'%Y')
							</when>
						   </choose>) V
 		    ON X.DATE = PAY_FIN_DATETIME
 		  LEFT OUTER JOIN ( SELECT SUM(PAYMENT_AMT) PAYMENT_AMT
 		  					  <choose>
							   <when test="ss.date_clcd == '10'">
                                 , DATE_FORMAT(STR_TO_DATE(SUBSTR(PROD_ORDER_NO, 1, 8),'%Y%m%d'),'%Y-%m-%d') PROD_ORDER_NO
							   </when>
							   <when test="ss.date_clcd == '20'">
                                 , DATE_FORMAT(STR_TO_DATE(SUBSTR(PROD_ORDER_NO, 1, 8),'%Y%m%d'),'%Y-%m') PROD_ORDER_NO
							   </when>
							   <when test="ss.date_clcd == '30'">
                                 , DATE_FORMAT(STR_TO_DATE(SUBSTR(PROD_ORDER_NO, 1, 8),'%Y%m%d'),'%Y') PROD_ORDER_NO
							   </when>
							  </choose>
                              FROM (SELECT *
                                      FROM T_PRODUCT_ORDER_REF A
                                     WHERE 1 = 1
									  <if test="ss.store_id != null and ss.store_id != ''" >
									   AND A.STORE_ID = #{ss.store_id}
									  </if>
                                     <choose>
									   <when test="ss.date_clcd == '10'">
                                       AND PROD_ORDER_NO BETWEEN CONCAT(#{ss.start_dt},'000000000000') AND CONCAT(#{ss.end_dt},'235959999999')
                                       AND ORDER_STS_CD = '050') A
                             GROUP BY SUBSTR(PROD_ORDER_NO, 1, 8)
									   </when>
									   <when test="ss.date_clcd == '20'">
                                       AND PROD_ORDER_NO BETWEEN CONCAT(#{ss.start_dt},'01000000000000') AND CONCAT(#{ss.end_dt},'31235959999999')
                                       AND ORDER_STS_CD = '050') A
                             GROUP BY SUBSTR(PROD_ORDER_NO, 1, 6)
									   </when>
									   <when test="ss.date_clcd == '30'">
                                       AND PROD_ORDER_NO BETWEEN CONCAT(#{ss.start_dt},'0101000000000000') AND CONCAT(#{ss.end_dt},'1231235959999999')
                                       AND ORDER_STS_CD = '050') A
                             GROUP BY SUBSTR(PROD_ORDER_NO, 1, 4)
									   </when>
									  </choose> ) Y
 		    ON X.DATE = PROD_ORDER_NO
		 ORDER BY 1
 	</sql>
 
 	<select id="getSalesStatisticsList" parameterType="com.ncomz.nshop.domain.admin.statistics.SalesStatistics" resultType="com.ncomz.nshop.domain.admin.statistics.SalesStatistics">
 		SELECT DATE PAY_FIN_DATETIME
		     , IFNULL(CALCUL_AMT,0) CALCUL_AMT
		     , IFNULL(PAYMENT_AMT,0) PAYMENT_AMT
		 <include refid="getListFromWhere"></include>
 		 
 	</select>
 	
 	<select id="getExcelList" parameterType="com.ncomz.nshop.domain.admin.statistics.SalesStatistics" resultType="java.util.LinkedHashMap">
 		SELECT DATE AS 'label_statistics_datetime'
		     , IFNULL(CALCUL_AMT,0) AS 'label_statistics_calcul_amt' 
		     , IFNULL(PAYMENT_AMT,0) AS 'label_statistics_payment_amt'
		 <include refid="getListFromWhere"></include>
 	</select>
 
 </mapper>