<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ncomz.nshop.dao.admin.statistics.UserStatisticsMapper">
 
 	<sql id="getListFromWhere">
	 	<choose>
		      <when test="us.date_clcd == '10'">
			  FROM (SELECT DATE_FORMAT(A.DATE,'%Y-%m-%d') DATE
			  </when>
			  <when test="us.date_clcd == '20'">
			  FROM (SELECT DATE_FORMAT(A.DATE,'%Y-%m') DATE
			  </when>
			  <when test="us.date_clcd == '30'">
			  FROM (SELECT DATE_FORMAT(A.DATE,'%Y') DATE
			  </when>
		     </choose>
				    FROM (SELECT CURDATE() - INTERVAL (A.A + (10*B.A) + (100*C.A) + (1000*D.A)) DAY AS DATE
			                FROM (SELECT 0 AS A UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS A
			               CROSS JOIN (SELECT 0 AS A UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS B
			               CROSS JOIN (SELECT 0 AS A UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS C
			               CROSS JOIN (SELECT 0 AS A UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) AS D
			           )A
			WHERE 1=1
			<choose>
			 <when test="us.date_clcd == '10'">
			  AND A.DATE BETWEEN #{us.start_dt} AND #{us.end_dt}
			GROUP BY DATE_FORMAT(A.DATE,'%Y-%m-%d')
			 </when>
			 <when test="us.date_clcd == '20'">
			  AND A.DATE BETWEEN CONCAT(#{us.start_dt},'01') AND CONCAT(#{us.end_dt},'31')
			GROUP BY DATE_FORMAT(A.DATE,'%Y-%m')
			 </when>
			 <when test="us.date_clcd == '30'">
			  AND A.DATE BETWEEN CONCAT(#{us.start_dt},'0101') AND CONCAT(#{us.end_dt},'1231')
			GROUP BY DATE_FORMAT(A.DATE,'%Y')
			 </when>
			</choose> ) CALENDER
	 		
	 		LEFT OUTER JOIN(
		 		<choose>
				 <when test="us.date_clcd == '10'"> 
		 		SELECT * 
				  FROM (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,8),'%Y%m%d'),'%Y-%m-%d') JOIN_DATE
				             , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,8),'%Y%m%d'),'%Y-%m-%d')) JOIN_COUNT 
				          FROM (SELECT * FROM T_USER 
				                 WHERE USR_GRP_ID = #{us.usr_grp_id}
				                   AND SUBSTR(JOIN_DATE,1,8) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				         GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,8),'%Y%m%d'),'%Y-%m-%d')) A
				  LEFT OUTER JOIN (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,8),'%Y%m%d'),'%Y-%m-%d') WITHDRAWAL_DATE
				                        , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,8),'%Y%m%d'),'%Y-%m-%d')) WITHDRAWAL_COUNT
				                     FROM (SELECT * FROM T_USER 
				                            WHERE USR_GRP_ID = #{us.usr_grp_id}
				                              AND SUBSTR(WITHDRAWAL_DATE,1,8) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				                    GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,8),'%Y%m%d'),'%Y-%m-%d')) B
				    ON A.JOIN_DATE = B.WITHDRAWAL_DATE  
				UNION
				SELECT * 
				  FROM (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,8),'%Y%m%d'),'%Y-%m-%d') JOIN_DATE
				             , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,8),'%Y%m%d'),'%Y-%m-%d')) JOIN_COUNT
				          FROM (SELECT * FROM T_USER
				                 WHERE USR_GRP_ID = #{us.usr_grp_id}
				                   AND SUBSTR(JOIN_DATE,1,8) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				        GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,8),'%Y%m%d'),'%Y-%m-%d')) A
				 RIGHT OUTER JOIN (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,8),'%Y%m%d'),'%Y-%m-%d') WITHDRAWAL_DATE
				                        , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,8),'%Y%m%d'),'%Y-%m-%d')) WITHDRAWAL_COUNT
				                     FROM (SELECT * FROM T_USER
				                            WHERE USR_GRP_ID = #{us.usr_grp_id}
				                              AND SUBSTR(WITHDRAWAL_DATE,1,8) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				                    GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,8),'%Y%m%d'),'%Y-%m-%d')) B
				    ON A.JOIN_DATE = B.WITHDRAWAL_DATE
				 </when>
				 <when test="us.date_clcd == '20'">
		 		SELECT * 
				  FROM (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,6),'%Y%m%d'),'%Y-%m') JOIN_DATE
				             , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,6),'%Y%m%d'),'%Y-%m')) JOIN_COUNT 
				          FROM (SELECT * FROM T_USER 
				                 WHERE USR_GRP_ID = #{us.usr_grp_id}
				                   AND SUBSTR(JOIN_DATE,1,6) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				         GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,6),'%Y%m%d'),'%Y-%m')) A
				  LEFT OUTER JOIN (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,6),'%Y%m%d'),'%Y-%m') WITHDRAWAL_DATE
				                        , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,6),'%Y%m%d'),'%Y-%m')) WITHDRAWAL_COUNT
				                     FROM (SELECT * FROM T_USER 
				                            WHERE USR_GRP_ID = #{us.usr_grp_id}
				                              AND SUBSTR(WITHDRAWAL_DATE,1,6) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				                    GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,6),'%Y%m%d'),'%Y-%m')) B
				    ON A.JOIN_DATE = B.WITHDRAWAL_DATE  
				UNION
				SELECT * 
				  FROM (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,6),'%Y%m%d'),'%Y-%m') JOIN_DATE
				             , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,6),'%Y%m%d'),'%Y-%m')) JOIN_COUNT
				          FROM (SELECT * FROM T_USER
				                 WHERE USR_GRP_ID = #{us.usr_grp_id}
				                   AND SUBSTR(JOIN_DATE,1,6) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				        GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,6),'%Y%m%d'),'%Y-%m')) A
				 RIGHT OUTER JOIN (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,6),'%Y%m%d'),'%Y-%m') WITHDRAWAL_DATE
				                        , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,6),'%Y%m%d'),'%Y-%m')) WITHDRAWAL_COUNT
				                     FROM (SELECT * FROM T_USER
				                            WHERE USR_GRP_ID = #{us.usr_grp_id}
				                              AND SUBSTR(WITHDRAWAL_DATE,1,6) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				                    GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,6),'%Y%m%d'),'%Y-%m')) B
				    ON A.JOIN_DATE = B.WITHDRAWAL_DATE
				 </when>
				 <when test="us.date_clcd == '30'">
		 		SELECT * 
				  FROM (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,4),'%Y%m%d'),'%Y') JOIN_DATE
				             , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,4),'%Y%m%d'),'%Y')) JOIN_COUNT 
				          FROM (SELECT * FROM T_USER 
				                 WHERE USR_GRP_ID = #{us.usr_grp_id}
				                   AND SUBSTR(JOIN_DATE,1,4) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				         GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,4),'%Y%m%d'),'%Y')) A
				  LEFT OUTER JOIN (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,4),'%Y%m%d'),'%Y') WITHDRAWAL_DATE
				                        , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,4),'%Y%m%d'),'%Y')) WITHDRAWAL_COUNT
				                     FROM (SELECT * FROM T_USER 
				                            WHERE USR_GRP_ID = #{us.usr_grp_id}
				                              AND SUBSTR(WITHDRAWAL_DATE,1,4) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				                    GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,4),'%Y%m%d'),'%Y')) B
				    ON A.JOIN_DATE = B.WITHDRAWAL_DATE  
				UNION
				SELECT * 
				  FROM (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,4),'%Y%m%d'),'%Y') JOIN_DATE
				             , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,4),'%Y%m%d'),'%Y')) JOIN_COUNT
				          FROM (SELECT * FROM T_USER
				                 WHERE USR_GRP_ID = #{us.usr_grp_id}
				                   AND SUBSTR(JOIN_DATE,1,4) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				        GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(JOIN_DATE,1,4),'%Y%m%d'),'%Y')) A
				 RIGHT OUTER JOIN (SELECT DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,4),'%Y%m%d'),'%Y') WITHDRAWAL_DATE
				                        , COUNT(DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,4),'%Y%m%d'),'%Y')) WITHDRAWAL_COUNT
				                     FROM (SELECT * FROM T_USER
				                            WHERE USR_GRP_ID = #{us.usr_grp_id}
				                              AND SUBSTR(WITHDRAWAL_DATE,1,4) BETWEEN #{us.start_dt} AND #{us.end_dt}) C
				                    GROUP BY DATE_FORMAT(STR_TO_DATE(SUBSTR(WITHDRAWAL_DATE,1,4),'%Y%m%d'),'%Y')) B
				    ON A.JOIN_DATE = B.WITHDRAWAL_DATE
				 </when>
				</choose>
				) DATA
			ON CALENDER.DATE = DATA.JOIN_DATE
 	</sql>
 
 	<select id="getUserStatisticsList" parameterType="com.ncomz.nshop.domain.admin.statistics.UserStatistics" resultType="com.ncomz.nshop.domain.admin.statistics.UserStatistics">
 		SELECT CALENDER.DATE JOIN_DATE
 		     , IFNULL(JOIN_COUNT, 0) JOIN_COUNT
 		     , IFNULL(WITHDRAWAL_COUNT, 0) WITHDRAWAL_COUNT
		 <include refid="getListFromWhere"></include>
 	</select>
 	
 	<select id="getExcelList" parameterType="com.ncomz.nshop.domain.admin.statistics.UserStatistics" resultType="java.util.LinkedHashMap">
 		SELECT CALENDER.DATE AS 'label_statistics_datetime'
 		<if test="us.usr_grp_id == 02">
 		     , IFNULL(JOIN_COUNT, 0) AS 'label_statistics_join_count_sell'
 		     , IFNULL(WITHDRAWAL_COUNT, 0) AS 'label_statistics_withdrawal_count_sell'
		</if>
 		<if test="us.usr_grp_id == 03">
 		     , IFNULL(JOIN_COUNT, 0) AS 'label_statistics_join_count_buy'
 		     , IFNULL(WITHDRAWAL_COUNT, 0) AS 'label_statistics_withdrawal_count_buy'
		</if>
		 <include refid="getListFromWhere"></include>
 	</select>
 
 </mapper>