<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ncomz.nshop.dao.front.mypage.order.MypageOrderMapper">
	
	<select id="getEndDate" resultType="String">
	/*MypageOrderMapper.xml.getEndDate*/
	SELECT DATE_FORMAT(NOW(), '%Y-%m-%d')
	</select>
	
	<select id="getStartDate" resultType="String">
	/*MypageOrderMapper.xml.getStartDate*/
	select DATE_FORMAT(DATE_ADD(NOW(),interval -1 week), '%Y-%m-%d')
	</select>
	
	<select id="getFrontOrderCount" resultType="int">
		/* MypageOrderMapper.xml.getOrderCount */
		SELECT COUNT(*) FROM (
		<include refid="selectOrderList" />
		AND user_id=#{user_id}
		) listA
	</select>
	
	<select id="getFrontOrderlist" parameterType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt" resultType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt">
		/* MypageOrderMapper.xml.getOrderlist */
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_header" />
		<include refid="selectOrderList" />
		AND user_id=#{user_id}
		ORDER BY A.ORDER_SEQ DESC, B.STORE_ID, B.PROD_ORDER_SEQ
			) listA
		)listB LIMIT #{page}
	</select>
	
	<select id="getOrderInfo" parameterType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt" resultType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt">
		/* MypageOrderMapper.xml.getOrderInfo */
		SELECT 
		<include refid="selectColumn"/>
			   , '2500' AS DLVY_AMT, A.ORDER_WAY_CD, A.PAYMENT_WAY_CD, A.MEMO AS DLVY_MEMO, A.USER_NM, A.MOBILE_NO AS R_MOBILE_NO, A.BASE_ADDR, A.DTL_ADDR, A.ZIP_CD,
		       F.DTL_NM AS PAYMENT_WAY_NAME,
		       G.MOBILE_NO AS S_MOBILE_NO, G.EMAIL
		  FROM T_ORDER_INFO A
		  RIGHT OUTER JOIN (SELECT CNT, B1.*
							  FROM (  SELECT COUNT(*) AS CNT,  store_id, MAX(ORDER_SEQ) AS ORDER_SEQ
									    FROM T_PRODUCT_ORDER_REF
							           WHERE ORDER_SEQ = #{order_seq}
									   GROUP BY STORE_ID
									 ) A1,
								   ( SELECT *
								       FROM T_PRODUCT_ORDER_REF
								     ) B1
							WHERE A1.STORE_ID = B1.STORE_ID
							  AND B1.ORDER_SEQ = #{order_seq}
							ORDER BY PROD_ORDER_SEQ
						  ) B
			ON A.ORDER_SEQ = B.ORDER_SEQ
		  LEFT OUTER JOIN T_PRODUCT C
		    ON B.PROD_ID = C.PROD_ID  
		  LEFT OUTER JOIN (SELECT MIN(file_id) AS file_id, key_id
						     FROM T_FILE_INFO
						    GROUP BY key_id) D
		    ON B.PROD_ID = D.key_id
		  LEFT OUTER JOIN (SELECT DTL_NM, DTL_CD
		  				     FROM T_COMMON_CODE 
		  				    WHERE GRP_CD = 'ORDR_STAT') E
		    ON B.ORDER_STS_CD = E.DTL_CD
		  LEFT OUTER JOIN(SELECT DTL_NM, DTL_CD
		  				    FROM T_COMMON_CODE 
		  				   WHERE GRP_CD = 'PAY' ) F
	        ON A.PAYMENT_WAY_CD = F.DTL_CD
		  LEFT OUTER JOIN T_USER G
		    ON A.USER_ID = G.USR_ID	
     	  LEFT OUTER JOIN T_DLVY_INFO H
	        ON B.PROD_ORDER_SEQ = H.PROD_ORDER_SEQ	    
		 WHERE 1=1
		   AND A.ORDER_SEQ=#{order_seq}
		   <if test="sts_cd == '10'">
		   		AND  B.ORDER_STS_CD IN ('040', '240')
		   </if>
		   <if test="sts_cd == '20'">
		   		AND  B.ORDER_STS_CD IN ('210', '220', '310')
		   </if>
		   <if test="sts_cd == '30'">
		   		AND  B.ORDER_STS_CD IN ('010', '020')
		   </if>
 		 ORDER BY B.STORE_ID, B.PROD_ORDER_SEQ
	</select>
	
	<select id="getOrderDtlInfo" parameterType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt" resultType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt">
		/* MypageOrderMapper.xml.getOrderDtlInfo */
		SELECT *, MOBILE_NO AS R_MOBILE_NO
		FROM T_ORDER_INFO
		WHERE ORDER_SEQ = #{order_seq}
	</select>
	
	<select id="statusChangeCount" resultType="int">
		/* MypageOrderMapper.xml.statusChangeCount */
		SELECT COUNT(*)
		  FROM T_ANTI_ORDER
		 WHERE CHNG_CD = #{chng_cd}
		   AND PROD_ORDER_SEQ IN (
			<foreach collection="objectOrderSeqList" item="prod_order_seq" separator=",">
			 #{prod_order_seq}
			</foreach>
			)
	</select>
	
	<insert id="insertOrderHist" parameterType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt">
		/* MypageOrderMapper.xml.insertOrderHist */
			INSERT INTO T_ORDER_HIST
			(
				STS_UPDATE_DATETIME
				, ORDER_STS_CD
				, PROD_ORDER_SEQ
				, SELLER_MEMO
			)
			VALUES
			<foreach collection="objectOrderSeqList" item="prod_order_seq" separator=",">
			(
				now()
				, #{order_sts_cd}
				, #{prod_order_seq}
				, #{chng_dtl_rsn}
			)
		</foreach>
	</insert>
	
	<insert id="insertConfOrderHist" parameterType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt">
		/* MypageOrderMapper.xml.insertConfOrderHist */
			INSERT INTO T_ORDER_HIST
			(
				STS_UPDATE_DATETIME
				, ORDER_STS_CD
				, PROD_ORDER_SEQ
				, SELLER_MEMO
			)
			VALUES
			<foreach collection="objectOrderSeqList" item="prod_order_seq" separator=",">
			(
				now()
				, (SELECT ORDER_STS_CD FROM T_PRODUCT_ORDER_REF WHERE PROD_ORDER_SEQ = #{prod_order_seq}) 
				, #{prod_order_seq}
				, #{chng_dtl_rsn}
			)
		</foreach>
	</insert>
	 
	 <insert id="insertChangeRsn" parameterType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt">
		/* MypageOrderMapper.xml.insertChangeRsn */
			INSERT INTO T_ANTI_ORDER
			(
				PROD_ORDER_SEQ
				, CHNG_CD
				, CHNG_RSN
				, CHNG_DTL_RSN
				, CHNG_APLY_DATETIME
			)
			VALUES
			<foreach collection="objectOrderSeqList" item="prod_order_seq" separator=",">
			(
				#{prod_order_seq}
				, #{chng_cd}
				, #{chng_rsn}
				, #{chng_dtl_rsn}
				, now()
			)
			</foreach>
	</insert>
	
	<update id="addrModifyAction" parameterType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt">
		/* MypageOrderMapper.xml.addrModifyAction */
		UPDATE T_ORDER_INFO SET
			MEMO = #{order_sts_cd}
			, USER_NM = #{update_receiver}
			, MOBILE_NO = #{update_phone}
			, ZIP_CD = #{update_zip_code}
			, BASE_ADDR = #{update_addr}
			, DTL_ADDR = #{update_dtl_addr}
			, MEMO = #{update_memo}
			, UPDATE_USER_ID = #{user_id}
			, UPDATE_DATETIME = now()
		WHERE ORDER_SEQ = #{order_seq}
	</update>
	
	<update id="statusModifyAction" parameterType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt">
		/* MypageOrderMapper.xml.statusModifyAction */
		UPDATE T_PRODUCT_ORDER_REF SET
			ORDER_STS_CD = #{order_sts_cd}, UPDATE_USER_ID = #{user_id}, UPDATE_DATETIME = now()
		WHERE PROD_ORDER_SEQ IN (
			<foreach collection="objectOrderSeqList" item="prod_order_seq" separator=",">
			 #{prod_order_seq}
			</foreach>
		)
	</update>
	
	<update id="confirmationAction" parameterType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt">
		/* MypageOrderMapper.xml.confirmationAction */
		UPDATE T_PRODUCT_ORDER_REF SET
			ORDER_STS_CD = #{order_sts_cd}, UPDATE_USER_ID = #{user_id}, UPDATE_DATETIME = now()
		WHERE PROD_ORDER_SEQ IN (
			<foreach collection="objectOrderSeqList" item="prod_order_seq" separator=",">
			 #{prod_order_seq}
			</foreach>
		)
		AND order_sts_cd = #{order_sts_name}
	</update>
	
	<sql id="stsCheck">
		<!-- 주문조건 -->
		<if test='sts_cd != "000"'>
		AND ORDER_STS_CD IN (
			<foreach collection="objectList" item="order_sts_cd" separator=",">
			 #{order_sts_cd}
			</foreach>
		 )
		</if>
	</sql>
	
	<sql id="whereClause">				
		<!-- 등록기간 -->
		<if test='start_date != null and start_date != ""'>
			AND A.ORDER_DATETIME <![CDATA[>=]]> STR_TO_DATE(#{start_date}, '%Y-%m-%d')
		</if>
		<if test='end_date != null and end_date != ""'>
			AND A.ORDER_DATETIME <![CDATA[<]]> DATE_ADD(STR_TO_DATE(#{end_date}, '%Y-%m-%d'), INTERVAL 1 DAY)
		</if>
		
		<!-- 주문조건 -->
		<include refid="stsCheck"/>
		
		<!-- 검색조건 -->
		<if test='search_type != null and search_type != "" and search_txt != null and search_txt != ""'>
			AND C.prod_name LIKE concat('%',#{search_txt},'%')
		</if>
	</sql>	
	
	<sql id="selectColumn">
		A.ORDER_SEQ, A.ORDER_NO, A.ORDER_DATETIME, A.USER_ID, A.CREATE_DATETIME,
		B.CNT, B.PROD_ORDER_SEQ, B.PROD_ORDER_NO, B.ORDER_STS_CD, B.ORDER_CNT, B.PAYMENT_AMT, B.ORDER_AMT, B.STORE_ID, B.STORE_NAME, B.STORE_ID_MEMO,
		C.prod_name, C.prod_id,
		D.key_id, D.file_id,
		E.DTL_NM AS ORDER_STS_NAME,
		H.WAYBIL_NO, H.ECHN_WAYBIL_NO
	</sql>
	
	<sql id="selectOrderList">
		SELECT 
		<include refid="selectColumn"/>
		  FROM T_ORDER_INFO A
		 RIGHT OUTER JOIN (SELECT CNT, B1.*
						     FROM ( SELECT COUNT(*) AS CNT, MAX(ORDER_SEQ) AS ORDER_SEQ
							          FROM T_PRODUCT_ORDER_REF
				                     WHERE 1=1				                     
									<include refid="stsCheck"/>
									  GROUP BY ORDER_SEQ
									) A1,
								  ( SELECT *
									  FROM T_PRODUCT_ORDER_REF
									) B1
						    WHERE A1.ORDER_SEQ = B1.ORDER_SEQ
							ORDER BY PROD_ORDER_SEQ
						  ) B
		    ON A.ORDER_SEQ = B.ORDER_SEQ
		  LEFT OUTER JOIN T_PRODUCT C
		    ON B.PROD_ID = C.PROD_ID  
		  LEFT OUTER JOIN (SELECT MIN(file_id) AS file_id, key_id
						     FROM T_FILE_INFO
						    GROUP BY key_id) D
		    ON B.PROD_ID = D.key_id
		  LEFT OUTER JOIN (SELECT DTL_NM, DTL_CD
		  				     FROM T_COMMON_CODE  
		  				    WHERE GRP_CD = 'ORDR_STAT') E
		    ON B.ORDER_STS_CD = E.DTL_CD
        LEFT OUTER JOIN T_DLVY_INFO H
	            ON B.PROD_ORDER_SEQ = H.PROD_ORDER_SEQ
		 WHERE 1=1
		<include refid="whereClause"/>
	</sql>
 </mapper>