<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncomz.nshop.dao.common.FileMapper">
	
	<select id="getFileInfo" resultType="com.ncomz.nshop.domain.common.FileInfo">
		SELECT FILE_ID,
			PHY_FILENAME,
			ORG_FILENAME,
			FILE_DATA
		FROM T_FILE_INFO
		WHERE FILE_ID = #{file_id}
	</select>
	
	<insert id="insertFileInfo" parameterType="com.ncomz.nshop.domain.common.FileInfo">
		<selectKey keyProperty="file_id" resultType="String" order="BEFORE">
	  		SELECT IFNULL(MAX(FILE_ID), 0) + 1 FROM T_FILE_INFO
	  	</selectKey>
		INSERT INTO T_FILE_INFO (
			FILE_ID,
			ORG_FILENAME,
			PHY_FILENAME,
			TEMP_YN,
			CREATE_DATETIME,
			UPDATE_DATETIME,
			FILE_DATA
		) VALUES (
			#{file_id},
			#{org_filename},
			#{phy_filename},
			#{temp_yn},
			now(),
			now(),
			#{file_data}
		)
	</insert>
	
	<delete id="deleteFile">
		DELETE FROM T_FILE_INFO WHERE FILE_ID = #{file_id}
	</delete>
	
	<update id="updateFileTempYn">
		update T_FILE_INFO set temp_yn = #{temp_yn}
		where file_id in (
		<foreach collection="fileIdList" item="file_id" separator=",">
			#{file_id}
		</foreach>
		)
	</update>
	
	<update id="updateFileTypeTempYn">
		UPDATE T_FILE_INFO SET TEMP_YN = #{temp_yn},
			UPDATE_DATETIME = NOW()
		WHERE FILE_TYPE = #{file_type}
			AND KEY_ID = #{key_id}
	</update>
	
	<update id="updateFileType">
		update T_FILE_INFO set temp_yn = #{temp_yn},
			FILE_TYPE = #{file_type},
			KEY_ID = #{key_id},
			UPDATE_DATETIME = NOW()
		where	file_id in (
		<foreach collection="fileIdList" item="file_id" separator=",">
			#{file_id}
		</foreach>
		)
	</update>
	
	<select id="getExpiredTempFileList" resultType="com.ncomz.nshop.domain.common.FileInfo">
		select file_id
		from T_FILE_INFO
		where date_add(now(), interval -1 day) > update_datetime
			and temp_yn = 'Y'
	</select>
	
	<select id="getFileList" parameterType="com.ncomz.nshop.domain.common.FileInfo" resultType="com.ncomz.nshop.domain.common.FileInfo">
		SELECT FILE_ID
		FROM T_FILE_INFO
		WHERE TEMP_YN = 'N'
			AND FILE_TYPE = #{file_type}
			AND KEY_ID = #{key_id}
	</select>
	
</mapper>