<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ncomz.nshop.dao.admin.settlement.SettlementMapper">

	<!-- ========================= 정산관리 =========================== -->
	<!-- 상품  리스트 정보 조회-->
	<select id="getSettlementList" resultType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo">
	<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_header" />
		SELECT /* settlementMapper.xml.getSettlementList */
			C.CALCUL_SEQ,
			C.PROD_ORDER_SEQ,  /*상품주문순번*/
			C.PAYMENT_AMT,		/*판매금액*/
			DATE_FORMAT(C.CALCUL_REQ_DATETIME, '%Y-%m-%d') AS CALCUL_REQ_DATETIME,	/*정산요청일*/
			DATE_FORMAT(C.CALCUL_PRE_DATETIME, '%Y-%m-%d') AS CALCUL_PRE_DATETIME,	/*정산예정일*/
			DATE_FORMAT(C.PAY_FIN_DATETIME, '%Y-%m-%d') AS PAY_FIN_DATETIME,		/*지급완료일*/
			C.CALCUL_STS_CD,
			F_CODE_NAME('SETTLEMENT_STAT', CALCUL_STS_CD, #{language}) AS CALCUL_STS_CD_NM,
			R.PROD_ORDER_NO,      /*상품주문번호*/
		    R.STORE_ID,
		    R.STORE_NAME,
		    O.USER_NM,
            O.USER_ID
		FROM T_CALCUL_INFO C, T_PRODUCT_ORDER_REF R
        LEFT JOIN T_ORDER_INFO O ON O.ORDER_SEQ = R.ORDER_SEQ
        WHERE 1=1
        	  and R.PROD_ORDER_SEQ = C.PROD_ORDER_SEQ
		<include refid="listActionWhereClause"/>
		order by C.CALCUL_REQ_DATETIME desc
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_footer" />
	</select>
	
	<!-- 상품  리스트 정보 카운트-->
	<select id="getSettlementInfoCount" resultType="int">
		SELECT /* settlementMapper.xml.getSettlementInfoCount */
			count(*)
		FROM T_CALCUL_INFO C, T_PRODUCT_ORDER_REF R
		LEFT JOIN T_ORDER_INFO O ON O.ORDER_SEQ = R.ORDER_SEQ
        WHERE 1=1
        	  and R.PROD_ORDER_SEQ = C.PROD_ORDER_SEQ
		<include refid="listActionWhereClause"/>
	</select>
	
	<sql id="listActionWhereClause">
		<!-- 로그인 사용자 조회  -->
		<if test='store_id != null and store_id != ""'>
			AND R.STORE_ID = #{store_id}
		</if>
		
		<!-- 정산상태 -->
		<if test="search_status != null and search_status != ''">
			AND CALCUL_STS_CD = #{search_status}
		</if>
		
		<if test="search_date_type != null and search_date_type != ''">
			<choose>
				<when test="search_date_type == 'S_RD'">	<!-- 정산요청일 -->
					AND C.CALCUL_REQ_DATETIME <![CDATA[>=]]> STR_TO_DATE(#{start_date}, '%Y-%m-%d')
					AND C.CALCUL_REQ_DATETIME <![CDATA[<]]> DATE_ADD(STR_TO_DATE(#{end_date}, '%Y-%m-%d'), INTERVAL 1 DAY)
				</when>
				<when test="search_date_type == 'S_SD'">	<!-- 정산예정일 -->
					AND C.CALCUL_PRE_DATETIME <![CDATA[>=]]> STR_TO_DATE(#{start_date}, '%Y-%m-%d')
					AND C.CALCUL_PRE_DATETIME <![CDATA[<]]> DATE_ADD(STR_TO_DATE(#{end_date}, '%Y-%m-%d'), INTERVAL 1 DAY)
				</when>
				<when test="search_date_type == 'S_CD'">	<!-- 지급완료일 -->
					AND C.PAY_FIN_DATETIME <![CDATA[>=]]> STR_TO_DATE(#{start_date}, '%Y-%m-%d')
					AND C.PAY_FIN_DATETIME <![CDATA[<]]> DATE_ADD(STR_TO_DATE(#{end_date}, '%Y-%m-%d'), INTERVAL 1 DAY)
				</when>
			</choose>
		
		</if>
		
		<!-- 정산요청일 -->
		<if test='start_date != null and start_date != "" and search_date_type == null'>
			AND C.CALCUL_REQ_DATETIME <![CDATA[>=]]> STR_TO_DATE(#{start_date}, '%Y-%m-%d')
		</if>
		<if test='end_date != null and end_date != "" and search_date_type == null'>
			AND C.CALCUL_REQ_DATETIME <![CDATA[<]]> DATE_ADD(STR_TO_DATE(#{end_date}, '%Y-%m-%d'), INTERVAL 1 DAY)
		</if>
		
		<!-- 검색조건 -->
		<if test='search_type != null and search_type != "" and search_txt != null and search_txt != ""'>
			<choose>
				<when test='search_type == "SN"'>AND R.STORE_ID LIKE concat('%',#{search_txt},'%')</when>
				<when test='search_type == "P"'>AND R.PROD_ORDER_NO LIKE concat('%',#{search_txt},'%')</when>
				<when test='search_type == "O"'>AND R.ORDER_SEQ = (select O.ORDER_SEQ from T_ORDER_INFO O where O.ORDER_NO LIKE concat('%',#{search_txt},'%'))</when>
				<when test='search_type == "ID"'>AND O.USER_ID LIKE concat('%',#{search_txt},'%')</when>
				<!-- <when test='search_type == "N"'>AND prod_id LIKE concat('%',#{search_txt},'%')</when> -->
			</choose>
		</if>
	</sql>
	
	<update id="statusModifyAction" parameterType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo">
		/* settlementMapper.xml.statusModifyAction */
		UPDATE T_CALCUL_INFO set
			CALCUL_STS_CD = #{calcul_sts_cd}
			<if test='calcul_sts_cd == "SPC"'>	<!-- 정산상태가 지급완료일때는 지급완료일시 업데이트 -->
			, PAY_FIN_DATETIME = now()
			</if>
		
		WHERE CALCUL_SEQ in (
			<foreach collection="calculSeqList" item="calcul_seq" separator=",">
				#{calcul_seq}
			</foreach>
		)
			
	</update>
	
	<!-- 정산상태 카운트-->
	<select id="getSettlementStsCdCount" parameterType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo" resultType="int">
		SELECT /* settlementMapper.xml.getSettlementStsCdCount */
			count( Distinct CALCUL_STS_CD ) STS_CD_COUNT
		FROM T_CALCUL_INFO
		WHERE CALCUL_SEQ in (
			<foreach collection="calculSeqList" item="calcul_seq" separator=",">
				#{calcul_seq}
			</foreach>
		)
	</select>
	
	<select id="listExcel" parameterType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo" resultType="java.util.LinkedHashMap">
		SELECT /* SettlementMapper.xml.listExcel */
		    R.STORE_ID AS 'label_store_id',
		    R.STORE_NAME AS 'label_store_name',
		    R.PROD_ORDER_NO AS 'label_order_productOrderNumber',
			C.PAYMENT_AMT AS 'label_calculation_settlementAmount',		/*판매금액*/
		    O.USER_NM AS 'label_order_buyerName',
		    O.USER_ID AS 'label_order_buyerId',
			DATE_FORMAT(C.CALCUL_REQ_DATETIME, '%Y-%m-%d %H:%i:%s') AS 'label_calculation_settlementRequest_date',		/*정산요청일*/
			DATE_FORMAT(C.CALCUL_PRE_DATETIME, '%Y-%m-%d %H:%i:%s') AS 'label_calculation_settlementScheduled_date',	/*정산예정일*/
			DATE_FORMAT(C.PAY_FIN_DATETIME, '%Y-%m-%d %H:%i:%s') AS 'label_calculation_settlementCompletion_date',		/*지급완료일*/
		    F_CODE_NAME('SETTLEMENT_STAT', CALCUL_STS_CD, #{language}) AS 'label_calculation_settlementStatus'			/*정산상태*/
		FROM T_CALCUL_INFO C, T_PRODUCT_ORDER_REF R
        LEFT JOIN T_ORDER_INFO O ON O.ORDER_SEQ = R.ORDER_SEQ
        WHERE 1=1
        	  and R.PROD_ORDER_SEQ = C.PROD_ORDER_SEQ
		<include refid="listActionWhereClause"/>
		order by C.CALCUL_REQ_DATETIME desc
	</select> 
	
	
	
	
	<!-- ========================= 일별정산내역 =========================== -->
	
	
	<select id="getSettlementByDailyList" resultType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo">
	<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_header" />
		select 
		    count(C.CALCUL_SEQ) AS SETTLEMENT_COUNT,
		    SUM(C.PAYMENT_AMT) as PAYMENT_AMT,		/*결제금액*/
		    SUM(C.CHARGE_FEE) as CHARGE_FEE,		/*정산금액*/
		    SUM(C.CALCUL_AMT) as CALCUL_AMT,		/*정산금액*/
		    DATE_FORMAT(C.CALCUL_REQ_DATETIME, '%Y-%m-%d') AS CALCUL_REQ_DATETIME,	/*정산요청일*/
			DATE_FORMAT(C.CALCUL_PRE_DATETIME, '%Y-%m-%d') AS CALCUL_PRE_DATETIME,	/*정산예정일*/
			DATE_FORMAT(C.PAY_FIN_DATETIME, '%Y-%m-%d') AS PAY_FIN_DATETIME,		/*지급완료일*/
		    R.PROD_ORDER_NO,      /*상품주문번호*/
		    R.STORE_ID,
		    R.STORE_NAME,
		    F_CODE_NAME('BANKCODE', S.BANK_CD, #{language}) BANK_CD_NM,
            S.ACCOUNT_NO
		from T_CALCUL_INFO C
		LEFT JOIN T_PRODUCT_ORDER_REF R ON C.PROD_ORDER_SEQ = R.PROD_ORDER_SEQ
		LEFT JOIN T_STORE S ON R.STORE_ID = S.STORE_ID
		where 1=1 
		AND CALCUL_STS_CD != 'SW'
		<include refid="listActionWhereClause"/>
		group by R.store_id, STR_TO_DATE(C.PAY_FIN_DATETIME, '%Y-%m-%d')
		order by C.PAY_FIN_DATETIME desc
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_footer" />
	</select>
	
	
	<select id="getSettlementByDailyCount" resultType="int">
		SELECT /* settlementMapper.xml.getSettlementByDailyCount */
		    count(*) as count
		FROM  (
		    select 
			    count(C.CALCUL_SEQ) AS SETTLEMENT_COUNT,
			    SUM(C.PAYMENT_AMT) as PAYMENT_AMT,		/*결제금액*/
			    SUM(C.CHARGE_FEE) as CHARGE_FEE,		/*정산금액*/
			    SUM(C.CALCUL_AMT) as CALCUL_AMT,		/*정산금액*/
			    DATE_FORMAT(C.CALCUL_REQ_DATETIME, '%Y-%m-%d') AS CALCUL_REQ_DATETIME,	/*정산요청일*/
				DATE_FORMAT(C.CALCUL_PRE_DATETIME, '%Y-%m-%d') AS CALCUL_PRE_DATETIME,	/*정산예정일*/
				DATE_FORMAT(C.PAY_FIN_DATETIME, '%Y-%m-%d') AS PAY_FIN_DATETIME,		/*지급완료일*/
			    R.PROD_ORDER_NO,      /*상품주문번호*/
			    R.STORE_ID,
			    R.STORE_NAME,
			    S.BANK_CD,
	            S.ACCOUNT_NO
			from T_CALCUL_INFO C
			LEFT JOIN T_PRODUCT_ORDER_REF R ON C.PROD_ORDER_SEQ = R.PROD_ORDER_SEQ
			LEFT JOIN T_STORE S ON R.STORE_ID = S.STORE_ID
			where 1=1 
			AND CALCUL_STS_CD != 'SW'
			<include refid="listActionWhereClause"/>
			group by R.store_id, STR_TO_DATE(C.PAY_FIN_DATETIME, '%Y-%m-%d')
			) as cnt
	</select>
	
	<select id="getSettlementByDailyInfo" resultType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo">
		select 
		    SUM(C.PAYMENT_AMT) as PAYMENT_AMT,		/*결제금액*/
		    SUM(C.CHARGE_FEE) as CHARGE_FEE,		/*수수료*/
		    SUM(C.CALCUL_AMT) as CALCUL_AMT 		/*정산금액*/
		from T_CALCUL_INFO C, T_PRODUCT_ORDER_REF R
		where C.PROD_ORDER_SEQ = R.PROD_ORDER_SEQ and CALCUL_STS_CD != 'SW'
		<include refid="listActionWhereClause"/>
	</select>
	
	<select id="dailyListExcel" parameterType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo" resultType="java.util.LinkedHashMap">
		select 
			R.STORE_ID AS 'label_store_id'
		    ,R.STORE_NAME AS 'label_store_name'
		    ,R.PROD_ORDER_NO AS 'label_order_productOrderNumber'
		    ,count(C.CALCUL_SEQ) AS 'label_calculation_settlementCount'
		    ,SUM(C.PAYMENT_AMT) as 'label_order_totalAmount'		/*결제금액*/
		    ,SUM(C.CHARGE_FEE) as 'label_calculation_settlementFee'		/*수수료*/
		    ,SUM(C.CALCUL_AMT) as 'label_calculation_settlementAmount'		/*정산금액*/
		    ,DATE_FORMAT(C.CALCUL_REQ_DATETIME, '%Y-%m-%d %H:%i:%s') AS 'label_calculation_settlementRequest_date'		/*정산요청일*/
			,DATE_FORMAT(C.CALCUL_PRE_DATETIME, '%Y-%m-%d %H:%i:%s') AS 'label_calculation_settlementScheduled_date'	/*정산예정일*/
			,DATE_FORMAT(C.PAY_FIN_DATETIME, '%Y-%m-%d %H:%i:%s') AS 'label_calculation_settlementCompletion_date'		/*지급완료일*/
		from T_CALCUL_INFO C, T_PRODUCT_ORDER_REF R
		LEFT JOIN T_STORE S ON R.STORE_ID = S.STORE_ID
		where C.PROD_ORDER_SEQ = R.PROD_ORDER_SEQ and CALCUL_STS_CD != 'SW'
		<include refid="listActionWhereClause"/>
		group by C.CALCUL_PRE_DATETIME, R.store_id, C.PAY_FIN_DATETIME
		order by C.CALCUL_REQ_DATETIME desc
	</select> 
	
	<!-- ========================= 건별정산내역 =========================== -->
	<select id="getSettlementByItemList" resultType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo">
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_header" />
		SELECT /* settlementMapper.xml.getSettlementByItemList */
			C.CALCUL_SEQ,
			C.PROD_ORDER_SEQ,  /*상품주문순번*/
			C.PAYMENT_AMT,		/*판매금액*/
            C.CALCUL_AMT,		/*정산금액*/
			DATE_FORMAT(C.CALCUL_REQ_DATETIME, '%Y-%m-%d') AS CALCUL_REQ_DATETIME,	/*정산요청일*/
			DATE_FORMAT(C.CALCUL_PRE_DATETIME, '%Y-%m-%d') AS CALCUL_PRE_DATETIME,	/*정산예정일*/
			DATE_FORMAT(C.PAY_FIN_DATETIME, '%Y-%m-%d') AS PAY_FIN_DATETIME,		/*지급완료일*/
			C.CALCUL_STS_CD,        /*정산상태코드*/
            C.CALCUL_FEE_DIV,       /*구분*/
            IF(C.CALCUL_FEE_DIV='prod', '상품', '배송비') as CALCUL_FEE_DIV_NM,
			F_CODE_NAME('SETTLEMENT_STAT', CALCUL_STS_CD, #{language}) AS CALCUL_STS_CD_NM,
			R.PROD_ORDER_NO,      /*상품주문번호*/
            (select O.order_no from T_ORDER_INFO O where O.order_seq = R.order_seq) as ORDER_NO,	/*주문번호*/
            (select O.order_seq from T_ORDER_INFO O where O.order_seq = R.order_seq) as ORDER_SEQ,	/*주문번호*/
		    R.STORE_ID,
		    R.STORE_NAME
		FROM T_CALCUL_INFO C, T_PRODUCT_ORDER_REF R
        WHERE 1=1
        	  and R.PROD_ORDER_SEQ = C.PROD_ORDER_SEQ
        	  <include refid="listActionWhereClause"/>
        ORDER BY CALCUL_REQ_DATETIME DESC
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_footer" />
	</select>
	
	<select id="getSettlementByItemCount" resultType="int">
		SELECT /* settlementMapper.xml.getSettlementInfoCount */
			count(*)
		FROM T_CALCUL_INFO C, T_PRODUCT_ORDER_REF R, T_ORDER_INFO O
        WHERE 1=1
        	  and R.PROD_ORDER_SEQ = C.PROD_ORDER_SEQ
              and O.ORDER_SEQ = R.ORDER_SEQ
        	  <include refid="listActionWhereClause"/>
	</select>
	
	<select id="getSumByItem" resultType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo">
		SELECT /* settlementMapper.xml.getSettlementByItemList */
			SUM(C.CALCUL_AMT) as CALCUL_AMT,
	        SUM(C.CHARGE_FEE) as CHARGE_FEE, 
	        SUM(C.PAYMENT_AMT) as PAYMENT_AMT
		FROM T_CALCUL_INFO C, T_PRODUCT_ORDER_REF R
        WHERE 1=1
        	  and R.PROD_ORDER_SEQ = C.PROD_ORDER_SEQ
        	  <include refid="listActionWhereClause"/>
	</select>
	
	
	<select id="itemDetailListExcel" parameterType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo" resultType="java.util.LinkedHashMap">
		SELECT /* settlementMapper.xml.getSettlementByItemList */
			R.STORE_ID as 'label_store_id'
		    ,R.STORE_NAME as 'label_store_name'
            ,(select O.order_no from T_ORDER_INFO O where O.order_seq = R.order_seq) as 'label_order_orderNumber'	/*주문번호*/
			,R.PROD_ORDER_NO as 'label_order_productOrderNumber'
            ,IF(C.CALCUL_FEE_DIV='prod', '상품', '배송비') as 'label_calculation_orderClassification'
            ,C.CALCUL_AMT AS 'label_calculation_settlementAmount'
			,F_CODE_NAME('SETTLEMENT_STAT', CALCUL_STS_CD, #{language}) AS 'label_calculation_settlementStatus'
			,DATE_FORMAT(C.CALCUL_REQ_DATETIME, '%Y-%m-%d %H:%i:%s') AS 'label_calculation_settlementRequest_date'		/*정산요청일*/
			,DATE_FORMAT(C.CALCUL_PRE_DATETIME, '%Y-%m-%d %H:%i:%s') AS 'label_calculation_settlementScheduled_date'	/*정산예정일*/
			,DATE_FORMAT(C.PAY_FIN_DATETIME, '%Y-%m-%d %H:%i:%s') AS 'label_calculation_settlementCompletion_date'		/*지급완료일*/
		FROM T_CALCUL_INFO C, T_PRODUCT_ORDER_REF R
        WHERE 1=1
        	  and R.PROD_ORDER_SEQ = C.PROD_ORDER_SEQ
        	  <include refid="listActionWhereClause"/>
        ORDER BY CALCUL_REQ_DATETIME DESC
	</select>
	
	<select id="getCalculDetail" parameterType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo" resultType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo">
		SELECT 
		    C.CALCUL_SEQ        /*정산순번*/
		    , C.PROD_ORDER_SEQ  /*상품주문순번*/
		    , R.ORDER_SEQ       /*주문순번*/
		    , R.PROD_ORDER_NO   /*상품주문번호*/
		    , O.ORDER_NO        /*주문번호*/
		    , DATE_FORMAT(O.ORDER_DATETIME, '%Y-%m-%d %H:%i:%s') AS ORDER_DATETIME		/*주문일시*/
		    , F_CODE_NAME('PAY', PAYMENT_WAY_CD, #{language}) AS PAYMENT_WAY_CD_NM		/*결제수단*/
		    , PAYMENT_WAY_CD
    		, C.CALCUL_FEE_DIV
    		, IF(C.CALCUL_FEE_DIV='prod', '상품', '배송비') as CALCUL_FEE_DIV_NM
    		, C.PAYMENT_AMT
		    , C.CHARGE_FEE
		    , C.CALCUL_AMT
		    , DATE_FORMAT(C.CALCUL_REQ_DATETIME, '%Y-%m-%d %H:%i:%s') AS CALCUL_REQ_DATETIME
		    , R.STORE_ID
		FROM T_CALCUL_INFO C 
		    LEFT OUTER JOIN T_PRODUCT_ORDER_REF R ON R.PROD_ORDER_SEQ = C.PROD_ORDER_SEQ
		    LEFT OUTER JOIN T_ORDER_INFO O ON O.ORDER_SEQ = R.ORDER_SEQ
		WHERE 1=1
		    AND C.CALCUL_SEQ = #{calcul_seq};
		
	</select>
	
	
	
	<!-- ========================= 정산요청 =========================== -->
	<select id="getSettlementReqList" resultType="com.ncomz.nshop.domain.admin.order.OrderInfoMgmt">
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_header" />
		SELECT 
	        O.ORDER_NO, 
	        O.ORDER_SEQ, 
	        O.ORDER_DATETIME,
	        R.PROD_ORDER_SEQ,
	        R.PROD_ORDER_NO,
	        O.USER_NM as USER_NM,
	        (SELECT PROD_NAME FROM T_PRODUCT WHERE prod_id = R.prod_id) as PROD_NAME,
	        R.ORDER_AMT,
	        F_CODE_NAME('ORDR_STAT', ORDER_STS_CD, #{language}) AS ORDER_STS_NAME
	       , (SELECT max(STS_UPDATE_DATETIME) FROM T_ORDER_HIST H WHERE H.PROD_ORDER_SEQ = R.PROD_ORDER_SEQ AND H.ORDER_STS_CD IN('050','250','260','340') group by PROD_ORDER_SEQ) STS_UPDATE_DATETIME
	    FROM T_PRODUCT_ORDER_REF R
            LEFT OUTER JOIN T_ORDER_INFO O ON R.ORDER_SEQ = O.ORDER_SEQ
	    WHERE 1=1 
	        AND R.ORDER_STS_CD IN('050','250','260','340')     /*구매완료상태*/
	        AND 1 > (select count(CALCUL_SEQ) from T_CALCUL_INFO C where C.PROD_ORDER_SEQ = R.PROD_ORDER_SEQ)
        	  <include refid="reqListActionWhereClause"/>
        	ORDER BY STS_UPDATE_DATETIME desc
		<include refid="com.ncomz.nshop.dao.common.CommonMapper.paging_footer" />
	</select>
	
	<select id="getSettlementReqCount" resultType="int">
		SELECT /* settlementMapper.xml.getSettlementReqCount */
			count(*)
		FROM (
			SELECT 
		        O.ORDER_NO, 
		        O.ORDER_DATETIME,
		        R.PROD_ORDER_SEQ,
		        R.PROD_ORDER_NO,
		        O.USER_NM as USER_NM,
		        (SELECT PROD_NAME FROM T_PRODUCT WHERE prod_id = R.prod_id) as PROD_NAME,
		        R.ORDER_AMT,
		        F_CODE_NAME('ORDR_STAT', ORDER_STS_CD, #{language}) AS ORDER_STS_NAME
		       , (SELECT max(STS_UPDATE_DATETIME) FROM T_ORDER_HIST H WHERE H.PROD_ORDER_SEQ = R.PROD_ORDER_SEQ AND H.ORDER_STS_CD IN('050','250','260','340') group by PROD_ORDER_SEQ) STS_UPDATE_DATETIME
		    FROM T_PRODUCT_ORDER_REF R
	            LEFT OUTER JOIN T_ORDER_INFO O ON R.ORDER_SEQ = O.ORDER_SEQ
		    WHERE 1=1 
		        AND R.ORDER_STS_CD IN('050','250','260','340')    /*구매완료상태*/
		        AND 1 > (select count(CALCUL_SEQ) from T_CALCUL_INFO C where C.PROD_ORDER_SEQ = R.PROD_ORDER_SEQ)
        	  <include refid="reqListActionWhereClause"/>
		) T1
	</select>
	
	<sql id="reqListActionWhereClause">
		<!-- 로그인 사용자 조회  -->
		<if test='store_id != null and store_id != ""'>
			AND R.STORE_ID = #{store_id}
		</if>
		
		<if test='search_type != null and search_type != "" and search_txt != null and search_txt != ""'>
			<choose>
				<when test='search_type == "O"'>AND O.ORDER_NO LIKE concat('%',#{search_txt},'%')</when>
				<when test='search_type == "P"'>AND R.PROD_ORDER_NO LIKE concat('%',#{search_txt},'%')</when>
				<when test='search_type == "N"'>AND O.USER_NM LIKE concat('%',#{search_txt},'%')</when>
			</choose>
		</if>
		
		<!-- 주문일 -->
		<if test='start_date != null and start_date != "" and search_date_type == null'>
			HAVING STS_UPDATE_DATETIME <![CDATA[>=]]> STR_TO_DATE(#{start_date}, '%Y-%m-%d')
		</if>
		<if test='end_date != null and end_date != "" and search_date_type == null'>
			AND STS_UPDATE_DATETIME <![CDATA[<]]> DATE_ADD(STR_TO_DATE(#{end_date}, '%Y-%m-%d'), INTERVAL 1 DAY)
		</if>
	</sql>
	
	<insert id="insertCalculInfo" parameterType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo">
		INSERT INTO T_CALCUL_INFO
		(PROD_ORDER_SEQ, CALCUL_FEE_DIV, CALCUL_STS_CD, CALCUL_REQ_DATETIME
		, CALCUL_PRE_DATETIME, PAYMENT_AMT, CHARGE_FEE, CALCUL_AMT)
		VALUES
		(
		#{prod_order_seq},
		#{calcul_fee_div},
		#{calcul_sts_cd},
		now(),
		#{calcul_pre_datetime},
		@P_AMT := (SELECT SUBSTRING_INDEX(F_CALCUL_FEE(#{calcul_fee_div}, #{prod_order_seq}), '|', 1)),
		@P_FEE := (SELECT SUBSTRING_INDEX(F_CALCUL_FEE(#{calcul_fee_div}, #{prod_order_seq}), '|', -1)),
		@P_AMT - @P_FEE 
		)
	</insert>
	<select id="chkDlvyInCalcul" parameterType="com.ncomz.nshop.domain.admin.settlement.SettlementInfo" resultType="int">
		select count(*)
			from T_CALCUL_INFO C
			where 
			C.CALCUL_FEE_DIV = 'deliv'
			AND C.prod_order_seq in (
			    select R.prod_order_seq
			    from T_PRODUCT_ORDER_REF R
			    where 1=1
			        AND R.STORE_ID = #{store_id}
			        AND R.ORDER_STS_CD IN('050','250','260','340')    /*구매완료상태*/ 
			        AND R.ORDER_SEQ = (
			            select R.order_seq
			            from T_PRODUCT_ORDER_REF R
			            where R.prod_order_seq = #{prod_order_seq}
			        )
			)
	</select>
	
 </mapper>